@import com.github.zalbia.zhhs.domain.Archiver
@import com.github.zalbia.zhhs.domain.Archiver.Status
@(archiveState: Archiver.State)
<div id="archive-ui" hx-target="this" hx-swap="outerHTML">
    @{
    archiveState.status match {
    case Status.Waiting =>
    <button hx-post="/contacts/archive">
        Download Contact Archive
    </button>
    case Status.Running =>
    <div hx-get="/contacts/archive" hx-trigger="load delay:500ms">
        Creating Archive...
        <div class="progress">
            <div id="archive-progress" class="progress-bar" style="width: @{archiveState.progress * 100}%"></div>
        </div>
    </div>
    case Status.Complete =>
    <a hx-boost="false" href="/contacts/archive/file" _="on load click() me">Archive Downloading! Click here if the
        download does not start.</a>
    <button hx-delete="/contacts/archive">Clear Download</button>
    }
    }
</div>